@media (max-width: 1280px)
  .header
    &__container
      max-width: 950px
      margin: 0 auto
      margin-top: 20px
      margin-bottom: 20px

  .finder
    &__image
      width: 500px
      height: 500px
    &__menu
      max-width: 160px

  .main
    max-width: 950px
    margin-bottom: 150px

  .popup
    &__title
      font-size: 60px
      margin: 0 0 0 0
    &__content
      font-size: 20px

  .modal
    &__title
      font-size: 60px
      margin: 0 0 0 0
    &__text
      font-size: 20px
      margin-bottom: 0

  .history
    max-width: 950px
    margin-bottom: 150px
    &__description
      max-width: 400px
    &__image
      width: 549px
      height: 445px
    &__title
      font-size: 30px

  .course
    max-width: 950px
    margin-bottom: 150px
    &__wrapper
      flex-wrap: wrap
    &__card
      width: 49%
      height: 337px
      margin-bottom: 30px

  .guide
    max-width: 950px
    margin-bottom: 150px
    &__description
      max-width: 400px
    &__image
      width: 549px
      height: 445px
    &__title
      font-size: 30px

  .reviews
    max-width: 950px
    margin-bottom: 150px

  .review
    max-width: 500px

  .stories
    max-width: 950px
    margin-bottom: 150px
    &__wrapper
      flex-wrap: wrap
    &__card
      width: 49%
      height: 337px
      margin-bottom: 30px

.footer
  max-width: 950px
  &__text
    max-width: 300px
    &-description
      margin-bottom: 20px
  &__menu
    margin-bottom: 60px

@media (max-width: 1000px)
  .header
    &__container
      max-width: 740px
      margin: 0 auto
      margin-top: 25px

  .main
    max-width: 740px
    margin-bottom: 100px

  .finder
    max-width: 100%
    &__title
      font-size: 50px
      margin: 0 0 20px 0
    &__menu
      max-width: 120px
      margin-right: 40px
      padding-left: 10px
    &__button
      max-width: 120px
      padding: 0px 30px
    &__image
      display: none

  .popup
    &__title
      font-size: 50px
      margin: 0 0 0 0
    &__content
      font-size: 20px

  .modal
    &__title
      font-size: 50px
      margin: 0 0 0 0
      line-height: 60px
    &__content
      font-size: 20px

  .history
    max-width: 740px
    margin-bottom: 100px
    &__description
      max-width: 300px
    &__image
      width: 455px
      height: 368px
    &__text
      margin-bottom: 20px

  .course
    max-width: 740px
    margin-bottom: 100px
    &__card
      position: relative
      width: 24%
      height: 200px
      margin-bottom: 30px
    &__place
      font-size: 15px
      line-height: 17px
    &__country
      line-height: 20px
    &__text
      margin-bottom: 15px

  .guide
    max-width: 740px
    margin-bottom: 100px
    &__description
      max-width: 300px
    &__image
      width: 455px
      height: 368px
    &__text
      margin-bottom: 20px

  .reviews
    max-width: 740px
    margin-bottom: 100px
    &__wrapper
      align-items: start

  .review
    max-width: 300px

  .stories
    max-width: 740px
    margin-bottom: 100px
    &__card
      position: relative
      width: 24%
      height: 230px
      &-text
        height: 30%
    &__place
      font-size: 15px
      line-height: 17px
    &__country
      line-height: 20px
    &__text
      margin-bottom: 15px

  .footer
    max-width: 740px
    &__text
      max-width: 200px
      font-size: 16px
      &-img
        margin-bottom: 0
      &-reserved
        font-size: 15px
    &__title
      margin-bottom: 40px

@media (max-width: 768px)
  .header
    &__navbar
      margin: 0
      &-item
        margin-bottom: 20px
      &-list
        flex-direction: column
        width: 50%
        height: 150px
      &-link
        font-size: 20px
    &__menu
      display: none
      position: fixed
      top: 67px
      right: 0
      bottom: 0
      left: 0
      flex-direction: column
      justify-content: flex-start
      padding: 22px 14px
      background-color: #fff
      &-visible
        display: flex
        align-items: center
        overflow: scroll
        width: 100%
    &__mobile
      &-fixed
        position: fixed
        top: 0
        right: 0
        left: 0
    &__container
      max-width: 450px
      width: 92%
      margin: 0 auto
      margin-top: 25px
    &__burger
      display: flex
      width: 40px
      height: 20px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      margin-top: 10px
      outline: none

  .login
    font-size: 20px
    flex-direction: column
    &__login
      margin-right: 0
      margin-top: 20px

  .button
    display: block
    margin-bottom: 10px

  .main
    max-width: 450px
    padding-top: 77px
    margin-bottom: 75px

  .finder
    &__title
      margin: 0
    &__line
      margin-bottom: 20px
    &__menu
      margin: 0
      max-width: 100%
      margin: 0 0 20px 0
    &__button
      margin: 0

  .popup
    &__title
      line-height: 60px

  .history
    max-width: 450px
    margin-bottom: 75px
    &__description
      max-width: 100%
    &__image
      display: none
    &__text
      margin-bottom: 20px

  .modal
    &__dialog
      padding-top: 50px
    &__title
      line-height: 60px

  .course
    max-width: 450px
    margin-bottom: 75px
    &__wrapper
      flex-wrap: wrap
    &__card
      width: 49%
      height: 200px
      margin-bottom: 20px
    &__title
      font-size: 30px
    &__country
      font-size: 14px

  .guide
    max-width: 450px
    margin-bottom: 75px
    &__description
      max-width: 100%
    &__image
      display: none
    &__text
      margin-bottom: 20px

  .reviews
    max-width: 450px
    margin-bottom: 75px
    &__photo
      display: none

  .review
    &__text
      width: 450px

  .stories
    max-width: 450px
    margin-bottom: 75px
    &__wrapper
      flex-wrap: wrap
    &__card
      width: 49%
      height: 200px
      margin-bottom: 20px
      &-text
        height: 20%
    &__title
      font-size: 30px
    &__country
      display: none

  .footer
    max-width: 450px
    &__text
      max-width: 25%
      margin-right: 20px
      &-description
        font-size: 15px
        line-height: 18px
      &-reserved
        font-size: 14px
        line-height: 0
    &__title
      font-size: 15px
    &__item
      margin: 0 0 7px 0
    &__link
      font-size: 13px
    &__destinations
      margin: 0 20px 0 0
    &__shop
      margin: 0 20px 0 0
    &__menu
      margin-bottom: 30px

@media (max-width: 480px)
  .header
    &__container
      max-width: 300px
      margin: 0 auto
      margin-top: 25px

  .main
    max-width: 300px
    padding-top: 77px
    margin-bottom: 50px

  .finder
    &__title
      font-size: 33px
    &__menu
      max-width: 49%

  .popup
    &__title
      line-height: 30px
      font-size: 25px
    &__content
      padding: 20px
      font-size: 18px
    &__text
      margin-bottom: 0
    &__close
      &-img
        height: 30px
        width: 30px

  .modal
    &__title
      line-height: 30px
      font-size: 22px
    &__content
      padding: 20px
      padding-top: 40px
      font-size: 18px
    &__text
      margin-bottom: 0
      font-size: 18px
    &__close
      height: 30px
      width: 30px

  .history
    max-width: 300px
    margin-bottom: 50px
    &__description
      max-width: 100%
    &__image
      display: none
    &__text
      margin-bottom: 20px
    &__title
      font-size: 21px
      line-height: 21px

  .course
    max-width: 300px
    margin-bottom: 50px
    &__title
      font-size: 20px
    &__country
      font-size: 13px
    &__card
      width: 100%
      height: 200px
      margin-bottom: 20px
      &-text
        width: 100px

  .guide
    max-width: 300px
    margin-bottom: 50px
    &__description
      max-width: 100%
    &__image
      display: none
    &__text
      margin-bottom: 20px
    &__title
      font-size: 21px
      line-height: 21px

  .reviews
    max-width: 300px
    margin-bottom: 50px
    &__title
      font-size: 30px

  .review
    &__text
      width: 300px
      font-size: 20px
      line-height: 30px

  .stories
    max-width: 300px
    margin-bottom: 50px
    &__title
      font-size: 20px
    &__country
      font-size: 13px
    &__card
      width: 100%
      height: 200px
      margin-bottom: 20px
      &-text
        height: 15%
  .footer
    max-width: 300px
    &__text
      order: 1
      max-width: 45%
      margin: 0
    &__menu
      flex-wrap: wrap
    &__title
      margin-bottom: 20px
    &__destinations
      margin: 0px 0px 20px 0
      max-width: 45%
