*
  box-sizing: border-box

.button
  color: #FFFFFF
  font-family: 'Inter', sans-serif
  height: 44px
  border-radius: 8px
  padding: 8px 36px
  cursor: pointer
  background-color: #FB8F1D
  border: 1px solid #FB8F1D
  &:hover
    background-color: #fff
    color: #FB8F1D
  &:focus
    outline: 2px solid #000
