*
  box-sizing: border-box
.button
  color: #FB8F1D
  height: 44px
  border-radius: 8px
  padding: 8px 36px
  cursor: pointer
  background-color: #fff
  border: 1px solid  #FB8F1D
  outline: none
  &:hover
    color: #FFFFFF
    background-color: #FB8F1D
