.header
  &__container
    max-width: 1306px
    margin: auto
    display: flex
    margin-top: 35px
    justify-content: space-between
  &__menu
    display: flex
  &__img
    height: 41px
    width: 41px
  &__navbar
    margin-right: 34px
    &-list
      display: flex
      justify-content: space-between
      list-style-type: none
      margin: 0
      padding: 0
      min-width: 347px
      align-items: center
      height: 44px
    &-link
      text-decoration: none
      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #B8BECD
      &:hover
        font-weight: 500
        color: #202336
.login
  display: flex
  font-family: 'Inter', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: 30px
  // margin-right: 85px
  &__login
    color: #FB8F1D
    display: block
    margin-right: 18px
    text-decoration: none
    height: 44px
    border-radius: 8px
    padding: 8px 36px
    border: 1px solid  #FB8F1D
    align-self: center
    &:hover
      color: #FFFFFF
      background-color: #FB8F1D
  &__register
    margin-right: 18px
    color: #FB8F1D
    text-decoration: none
    display: block
    height: 44px
    border-radius: 8px
    padding: 8px 36px
    border: 1px solid  #FB8F1D
    &:hover
      color: #FFFFFF
      background-color: #FB8F1D
