.header
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: #fff
  z-index: 103
  &__menu
    width: 90%
    display: flex
    justify-content: space-between
  &__container
    max-width: 1200px
    margin: 0 auto
    display: flex
    margin-top: 20px
    margin-bottom: 20px
    justify-content: space-between
  &__navbar
    &-list
      display: flex
      justify-content: space-between
      list-style-type: none
      margin: 0
      padding: 0
      min-width: 347px
      align-items: center
      height: 44px
    &-link
      text-decoration: none
      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      color: #B8BECD
      &:hover
        font-weight: 500
        color: #202336
  &__burger
    display: none
    cursor: pointer
    &-line
      height: 4px
      width: 20px
      background-color: black

.header
  &__login
    display: flex
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 15px
    &-login
      margin-right: 18px
